{{page-title "test-app"}}

<div>
  <main>
    <div>
      {{outlet}}
JH
      <HelloWorld >
world
        </HelloWorld>


      <HelloWorld>
        miiii
      </HelloWorld>
    </div>
  </main>
</div>